@media all and (-ms-high-contrast:none) {
    .header-box {
        &-mainlinks {
            &__btnheader {
                padding: 23px 66px 19px;
            }
        }
    }
    .grid {
        display: -ms-grid;
    }
    .lamp-ico::before {
        background-position-x: 0;
    }
    .browser-ico::before {
        background-position-x: -9px;
    }
    .gamepad-ico::before {
        background-position-x: -9px;
    }
    .downsize-ico::before {
        background-position-x: 11px;
    }
    .cart-ico::before {
        background-position-x: -8px;
    }
    .gift-ico::before {
        background-position-x: -8px;
    }
}
@media screen and (min-width: 1065px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        &__item {
            &-idea  {-ms-grid-column: 1;-ms-grid-row: 1;}
            &-code  {-ms-grid-column: 3;-ms-grid-row: 1;}
            &-game  {-ms-grid-column: 5;-ms-grid-row: 1;}
            &-resp  {-ms-grid-column: 1;-ms-grid-row: 2;}
            &-shop  {-ms-grid-column: 3;-ms-grid-row: 2;}
            &-bonus {-ms-grid-column: 5;-ms-grid-row: 2;}
        }
    }
}
@media screen and (max-width: 1064px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr 350px 30px 350px 1fr;
        &__item {
            &-idea  {-ms-grid-column: 2;-ms-grid-row: 1;}
            &-code  {-ms-grid-column: 4;-ms-grid-row: 1;}
            &-game  {-ms-grid-column: 2;-ms-grid-row: 2;}
            &-resp  {-ms-grid-column: 4;-ms-grid-row: 2;}
            &-shop  {-ms-grid-column: 2;-ms-grid-row: 3;}
            &-bonus {-ms-grid-column: 4;-ms-grid-row: 3;}
        }
    }
}
@media screen and (max-width: 780px) and (-ms-high-contrast:none) {
    /*page-grid*/
    .grid {
        -ms-grid-columns: 1fr minmax(min-content, 488px) 1fr;
        &__item {
            &-idea  {-ms-grid-column: 2;-ms-grid-row: 1;}
            &-code  {-ms-grid-column: 2;-ms-grid-row: 2;}
            &-game  {-ms-grid-column: 2;-ms-grid-row: 3;}
            &-resp  {-ms-grid-column: 2;-ms-grid-row: 4;}
            &-shop  {-ms-grid-column: 2;-ms-grid-row: 5;}
            &-bonus {-ms-grid-column: 2;-ms-grid-row: 6;}
        }
    }
}
