@media screen and (max-width: 1160px) {
    /*page-grid*/
    .grid {
        margin-top: 52px;
        &__text {
            margin-bottom: 44px;
        }
    }
    /*page-resources*/
    .resources-wrapper {
        justify-content: space-between;
        align-items: center;
    }
    .box-resources {
        margin-right: 0;
    }
    .resources-schema {
        position: static;
    }
}
@media screen and (max-width: 1100px) {
    /*page-features*/
    .page-features {
        padding: 66px 0 94px;
    }
    .page-features__img {
        display: none;
    }
    .box-features {
        flex-basis: 100%;
        text-align: center;
        &-list {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                flex-basis: 410px;
            }
        }
        &__text {
            text-align: left;
            margin: 21px 0 27px;
        }
    }
}
@media screen and (max-width: 1064px) {
    /*page-grid*/
    .grid {
        grid-template-areas: "a b"
                             "c d"
                             "e f";
        grid-template-columns: 350px 350px;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    /*page-testimonials*/
    .page-testimonials {
        padding: 43px 0;
    }
    .slider {
        &-box {
            padding: 59px 0 0;
            &-middle {
                top: 80px;
            }
            &-latest {
                top: 107px;
            }
        }
    }
    /*page-plans*/
    .page-plans {
        padding: 31px 0 60px;
        background-size: auto;
        background-position: center bottom;
        background-color: #f4fbfc;
    }
    .plans-flex {
        flex-direction: column;
        align-items: center;
        margin: 51px 0 0;
        &-item {
            margin: 0 0 20px;
            width: 91.578947369%;
            max-width: 520px;
            flex-basis: auto;
            background-position: center 4%;
        }
    }
    .plans-flex-item_active {
        padding: 55px 0 62px;
        width: 100%;
        max-width: 568px;
    }
}
@media screen and (max-width: 948px) {
    /*header*/
    .page-main {
        padding: 45px 0 77px;
        background-position-x: right;
    }
    .nav {
        margin: 0 auto 80px;
        &__logo {
            margin: 0 auto 30px;
        }
        &-list {
            flex-basis: 100%;
        }
    }
    .header-wrapper {
        justify-content: center;
    }
    .header-box {
        &__title {
            margin: 60px 0 11px;
        }
    }
    .header-img {
        display: none;
    }
    /*page-resources*/
    .page-resources {
        padding: 83px 0 72px;
    }
    .resources-wrapper {
        justify-content: center;
    }
    .box-resources {
        flex-basis: 100%;
        .header32 {
            text-align: center;
        }
        &__note {
            margin-bottom: 20px;
        }
        &__text {
            margin-bottom: 0;
        }
    }
    .resources-schema {
        height: auto;
        flex-basis: 532px;
    }
}

@media screen and (max-width: 800px) {
    /*page-services*/
    .page-services {
        padding: 45px 0 74px;
    }
    .box-services {
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
        &__item {
            width: 313px;
            flex-basis: auto;
        }
        &__ico {
            margin-bottom: 18px;
        }
        &__title {
            margin-bottom: 9px;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 780px) {
    /*page-grid*/
    .grid {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        grid-template-columns: minmax(auto, 488px);
    }
}
@media screen and (max-width: 700px) {
    /*page-testimonials*/
    .slider {
        &-box {
            &-front {
                padding: 80px 10px 25px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    /*header*/
    .page-main {
        padding: 45px 0 77px;
        background-position: center;
        .nav {
            &-list {
                text-align: center;
                li {
                    flex-basis: 33%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    /*footer*/
    .footer-wrapper {
        padding: 32px 15px 37px;
    }
    .footer-text {
        flex-direction: column;
        &__item {
            &-vline {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 545px) {
    /*header*/
    .header-box {
        &-mainlinks {
            flex-direction: column;
            align-items: center;
            &__gstore {
                flex-basis: auto;
                width: 240px;
                margin-bottom: 20px;
            }
        }
    }
}
@media screen and (max-width: 525px) {
    /*page-testimonials*/
    .slider {
        &-box {
            &-front {
                width: 80.180180180%;
                box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
                height: 326px;
                &__text {
                    font-size: 16px;
                }
            }
            &-middle, &-latest {
                box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
            }
            &-middle {
                width: 85.585585585%;
                height: 284px;
            }
            &-latest {
                width: 90.360360360%;
                height: 232px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    /*page-services*/
    .box-services {
        &__item {
            width: 100%;
        }
    }
}
@media screen and (max-width: 452px) {
    /*header*/
    .page-main {
        .nav {
            &-list {
                li {
                    flex-basis: 50%;
                }
            }
        }
    }
    /*page-features*/
    .box-features {
        &-list {
            &__item {
                text-indent: -20px;
                margin-left: 40px;
                &::before {
                    margin-right: 0;
                    transform: translateX(-20px)
                }
            }
        }
        .header32 {
            &__subheader {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    /*page-testimonials*/
    .slider {
        &-box {
            &-front {
                &__text {
                    font-size: 12px;
                }
            }
        }
    }
}
