@media screen and (max-width: 1160px) {
    /*page-grid*/
    .grid {
        margin-top: 52px;
        &__text {
            margin-bottom: 44px;
        }
    }
    /*page-resources*/
    .resources-wrapper {
        justify-content: space-between;
    }
    .box-resources {
        margin-right: 0;
    }
}
@media screen and (max-width: 1064px) {
    /*page-grid*/
    .grid {
        grid-template-areas: "a b"
                             "c d"
                             "e f";
        grid-template-columns: 350px 350px;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    /*page-plans*/
    .page-plans {
        padding: 31px 0 60px;
        background-size: auto;
        background-position: center bottom;
        background-color: #f4fbfc;
    }
    .plans-flex {
        flex-direction: column;
        align-items: center;
        margin: 51px 0 0;
        &-item {
            margin: 0 0 20px;
            width: 91.578947369%;
            max-width: 520px;
            flex-basis: auto;
            background-position: center 4%;
        }
    }
    .plans-flex-item_active {
        padding: 55px 0 62px;
        width: 100%;
        max-width: 568px;
    }
}
@media screen and (max-width: 948px) {
    /*page-resources*/
    .page-resources {
        padding: 83px 0 72px;
    }
    .resources-wrapper {
        justify-content: center;
    }
    .box-resources {
        flex-basis: 100%;
        &__note {
            margin-bottom: 20px;
        }
        &__text {
            max-width: 455px;
        }
    }
    .resources-schema {
        position: static;
    }
}
@media screen and (max-width: 800px) {
    /*page-services*/
    .page-services {
        padding: 45px 0 74px;
    }
    .box-services {
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
        &__item {
            width: 313px;
            flex-basis: auto;
        }
        &__ico {
            margin-bottom: 18px;
        }
        &__title {
            margin-bottom: 9px;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 780px) {
    /*page-grid*/
    .grid {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        grid-template-columns: minmax(auto, 488px);
    }
}
@media screen and (max-width: 650px) {
    /*footer*/
    .footer-wrapper {
        padding: 32px 15px 37px;
    }
    .footer-text {
        flex-direction: column;
        &__item {
            &-vline {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 580px) {
    /*page-resources*/
    .resources-schema {
        height: 162px;
    }
}
@media screen and (max-width: 500px) {
    /*page-services*/
    .box-services {
        &__item {
            width: 100%;
        }
    }
}
