<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flaby</title>
	//= includes/head.html
</head>
<body>
	<div class="page-main">
		<header>
			<div class="nav">
				<a href="" class="nav__logo"></a>
				<ul class="nav-list">
					<li><a href="" class="nav-list__item">home</a></li>
					<li><a href="" class="nav-list__item">services</a></li>
					<li><a href="" class="nav-list__item">portfolio</a></li>
					<li><a href="" class="nav-list__item">blog</a></li>
					<li><a href="" class="nav-list__item">contact us</a></li>
					<li><a href="" class="nav-list__item nav-list__btn">Login</a></li>
				</ul>
				<button type="button" class="nav__btn-mobile"></button>
			</div>
			<div class="header-hrule"></div>
		</header>
		<div class="wrapper header-wrapper">
			<div class="header-box">
				<h1 class="header-box__title">FLAT  +  FREE  =&nbsp;&nbsp;FLABY</h1>
				<p class="header-box__maintext">A Modern Flat design corporate template for free download with all great features and trendy look.</p>
				<div class="header-box-mainlinks">
					<a href="" class="header-box-mainlinks__gstore"></a>
					<a href="" class="header-box-mainlinks__btnheader">Learn More</a>
				</div>
			</div>
			<div class="header-img"></div>
		</div>
	</div>
	<div class="page-services">
		<div class="wrapper">
			<h2 class="header24"><span class="header24__subheader">Welcome to</span>our sevices</h2>
			<div class="box-services">
				<div class="box-services__item">
					<div class="box-services__ico box-services__ico-browser"></div>
					<h3 class="box-services__title">Web Development</h3>
					<p class="box-services__text">There are many variations of passages of Lorem Ipsum available, the majority alteration make difficult</p>
				</div>
				<div class="box-services__item">
					<div class="box-services__ico box-services__ico-camera"></div>
					<h3 class="box-services__title">Photography</h3>
					<p class="box-services__text">There are many variations of passages of Lorem Ipsum available, the majority alteration make difficult</p>
				</div>
				<div class="box-services__item">
					<div class="box-services__ico box-services__ico-brush"></div>
					<h3 class="box-services__title">Vector Artist</h3>
					<p class="box-services__text">There are many variations of passages of Lorem Ipsum available, the majority alteration make difficult</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-features">
		<div class="page-features__img"></div>
		<div class="wrapper features-wrapper">
			<div class="box-features">
				<h2 class="header32"><span class="header32__subheader">We have great features with</span>Unlimited Customization Features</h2>
				<p class="box-features__text">There are many variations of passages of Lorem Ipsum available, the majority alteration make&nbsp;difficult</p>
				<ul class="box-features-list">
					<li class="box-features-list__item">More wordpress features with great responsive design.</li>
					<li class="box-features-list__item">Corporate flat design with necessary elements.</li>
					<li class="box-features-list__item">Free vector shape and mockup by great designer.</li>
					<li class="box-features-list__item">Full one page flat and modern trend following goods.</li>
				</ul>
				<a href="" class="box-features__btn box-features__btn_size_l btn-rrect">Read More</a>
			</div>
		</div>
	</div>
	<div class="page-grid">
		<div class="wrapper">
			<h2 class="header24"><span class="header24__subheader">View Our Latest</span>other services</h2>
			<div class="grid">
				<div class="grid__item grid__item-idea">
					<h3 class="grid__title lamp-ico">Idea Developing</h3>
					<p class="grid__text">There are many variations of passages of Lorem Ipsum available, but the ma&shy;jorityalteration in some form with design</p>
				</div>
				<div class="grid__item grid__item-code">
					<h3 class="grid__title browser-ico">Best Coding</h3>
					<p class="grid__text">There are many variations of passages of Lorem Ipsum available, but the ma&shy;jorityalteration in some form with design</p>
				</div>
				<div class="grid__item grid__item-game">
					<h3 class="grid__title gamepad-ico">Game Design</h3>
					<p class="grid__text">There are many variations of passages of Lorem Ipsum available, but the ma&shy;jorityalteration in some form with design</p>
				</div>
				<div class="grid__item grid__item-resp">
					<h3 class="grid__title downsize-ico">Responsive Design</h3>
					<p class="grid__text">There are many variations of passages of Lorem Ipsum available, but the ma&shy;jorityalteration in some form with design</p>
				</div>
				<div class="grid__item grid__item-shop">
					<h3 class="grid__title cart-ico">Free Shopping</h3>
					<p class="grid__text">There are many variations of passages of Lorem Ipsum available, but the ma&shy;jorityalteration in some form with design</p>
				</div>
				<div class="grid__item grid__item-bonus">
					<h3 class="grid__title gift-ico">Bonus Download</h3>
					<p class="grid__text">There are many variations of passages of Lorem Ipsum available, but the ma&shy;jorityalteration in some form with design</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-testimonials">
		<div class="wrapper">
			<h2 class="header24"><span class="header24__subheader">Get know About</span>what customer&nbsp;say</h2>
			<div class="slider">
				<div class="slider-box">
					<div class="slider-box-latest"></div>
					<div class="slider-box-middle"></div>
					<div class="slider-box-front">
						<img src="img/slider/avatar.png" alt="Avatar" class="slider-box-front__avatar">
						<h3 class="slider-box-front__title">Sourabh B.<span class="slider-box-front__subtitle">Co Founder of Mew</span></h3>
						<p class="slider-box-front__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members&nbsp;:)</p>
					</div>
				</div>
				<div class="slider-box">
					<div class="slider-box-latest"></div>
					<div class="slider-box-middle"></div>
					<div class="slider-box-front">
						<img src="img/slider/avatar2.png" alt="Avatar" class="slider-box-front__avatar">
						<h3 class="slider-box-front__title">Sourabh B.<span class="slider-box-front__subtitle">Co Founder of Mew</span></h3>
						<p class="slider-box-front__text">Great Team with great experience</p>
					</div>
				</div>
				<div class="slider-box">
					<div class="slider-box-latest"></div>
					<div class="slider-box-middle"></div>
					<div class="slider-box-front">
						<img src="img/slider/avatar3.png" alt="Avatar" class="slider-box-front__avatar">
						<h3 class="slider-box-front__title">Sourabh B.<span class="slider-box-front__subtitle">Co Founder of Mew</span></h3>
						<p class="slider-box-front__text">Great Team with great experience, i would reguler recommended to all that you will get better support</p>
					</div>
				</div>
			</div>
			<div class="slidenav">
				<button type="button" class="slidenav__btn"><span class="slidenav__btn-previcon"></span>Previous</button>
				<button type="button" class="slidenav__btn">Next<span class="slidenav__btn-nexticon"></span></button>
			</div>
		</div>
	</div>
	<div class="page-resources">
		<div class="wrapper resources-wrapper">
			<div class="box-resources">
				<h2 class="header32"><span class="header32__subheader">Feel free to download our</span>Great Resource for&nbsp;free</h2>
				<p class="box-resources__text">There are many variations of passages of Lorem Ipsum available & majority alteration</p>
				<p class="box-resources__note">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
			</div>
			<img src="img/resourse/mockup.png" alt="App schema" class="resources-schema">
		</div>
	</div>
	<div class="page-plans">
		<div class="wrapper">
			<h2 class="header24"><span class="header24__subheader">Get Idea About</span>Pricing plan</h2>
			<div class="plans-flex">
				<div class="plans-flex-item">
					<div class="plans-flex-item__ico book-ico"></div>
					<h3 class="plans-flex-item__title">Student</h3>
					<div class="plans-flex-item__price">
						<span class="dollar_super">$</span>
						<svg viewBox="0 0 80 53"><defs><linearGradient id="textgrad" x1="1" y1="0" x2="0" y2="1"><stop offset="0" stop-color="#2eb0ec"/><stop offset="1" stop-color="#6af4f9"/></linearGradient></defs><text x="-1" y="42">39</text></svg>
						<span class="frequency">/mo</span>
					</div>
					<ul class="plans-flex-item-list">
						<li class="plans-flex-item-list__element">6 GB storage</li>
						<li class="plans-flex-item-list__element">Fast Brandwidht</li>
						<li class="plans-flex-item-list__element plans-flex-item-list__element_inactive">Responsive</li>
						<li class="plans-flex-item-list__element plans-flex-item-list__element_inactive">Customization</li>
					</ul>
					<a href="" class="plans-flex-item__btn btn-rrect">Sign up</a>
				</div>
				<div class="plans-flex-item plans-flex-item_active">
					<div class="plans-flex-item__ico bag-ico"></div>
					<h3 class="plans-flex-item__title">Professional</h3>
					<div class="plans-flex-item__price">
							<span class="dollar_super">$</span>
							<svg viewBox="0 0 89 59"><text x="-2" y="46">59</text></svg>
							<span class="frequency">/mo</span>
						</div>
					<ul class="plans-flex-item-list">
						<li class="plans-flex-item-list__element">6 GB storage</li>
						<li class="plans-flex-item-list__element">Fast Brandwidht</li>
						<li class="plans-flex-item-list__element">Responsive</li>
						<li class="plans-flex-item-list__element plans-flex-item-list__element_inactive">Customization</li>
					</ul>
					<a href="" class="plans-flex-item__btn btn-rrect">Sign up</a>
				</div>
				<div class="plans-flex-item">
					<div class="plans-flex-item__ico shopbag-ico"></div>
					<h3 class="plans-flex-item__title">Unlimited</h3>
					<div class="plans-flex-item__price">
						<span class="dollar_super">$</span>
						<svg viewBox="0 0 81 53"><text x="-2" y="42">99</text></svg>
						<span class="frequency">/mo</span>
					</div>
					<ul class="plans-flex-item-list">
						<li class="plans-flex-item-list__element">6 GB storage</li>
						<li class="plans-flex-item-list__element">Fast Brandwidht</li>
						<li class="plans-flex-item-list__element">Responsive</li>
						<li class="plans-flex-item-list__element">Customization</li>
					</ul>
					<a href="" class="plans-flex-item__btn btn-rrect">Sign up</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-form">
		<div class="wrapper">
			<h2 class="header24"><span class="header24__subheader">For latest newsletter</span>Subscribe now</h2>
			<form action="SendForm" method="post" class="subscribe-form">
				<input type="text" placeholder="Nicky Moa |" class="subscribe-form__item subscribe-form__item-text">
				<input type="email" placeholder="Example@gmail.com" class="subscribe-form__item subscribe-form__item-email">
				<button type="submit" class="subscribe-form__btn btn-rrect">subscribe</button>
			</form>
		</div>
	</div>
	<div class="page-links">
		<div class="hrule"></div>
		<div class="wrapper links-wrapper">
			<div class="main-links">
				<a href="" class="main-links__logo"></a>
				<p class="main-links__text">Flaby is a free flat template and available for free downloads but please don’t use for sell</p>
				<ul class="main-links-social">
					<li><a href="" target="_blank" class="main-links-social__item fab fa-facebook-f"></a></li>
					<li><a href="" target="_blank" class="main-links-social__item main-links-social__item-gplus"></a></li>
					<li><a href="" target="_blank" class="main-links-social__item fab fa-twitter"></a></li>
				</ul>
			</div>
			<div class="additional-links">
				<div class="additional-links-item">
					<h3 class="additional-links-item__title">Useful Link</h3>
					<ul class="additional-links-item__list">
						<li><a href="">Resource</a></li>
						<li><a href="">Downloads</a></li>
						<li><a href="">Graphics</a></li>
						<li><a href="">Templates</a></li>
						<li><a href="">UI colors</a></li>
					</ul>
				</div>
				<div class="additional-links-item">
					<h3 class="additional-links-item__title">Free Goods</h3>
					<ul class="additional-links-item__list">
						<li><a href="">Movies</a></li>
						<li><a href="">Music</a></li>
						<li><a href="">Videos</a></li>
						<li><a href="">Games</a></li>
						<li><a href="">Application</a></li>
					</ul>
				</div>
				<div class="additional-links-item">
					<h3 class="additional-links-item__title">Elements</h3>
					<ul class="additional-links-item__list">
						<li><a href="">UI Elements</a></li>
						<li><a href="">Materials</a></li>
						<li><a href="">Flat UI</a></li>
						<li><a href="">Print File</a></li>
						<li><a href="">Flyer</a></li>
					</ul>
				</div>
				<div class="additional-links-item">
					<h3 class="additional-links-item__title">About Us</h3>
					<ul class="additional-links-item__list">
						<li><a href="">Home</a></li>
						<li><a href="">Portfolio</a></li>
						<li><a href="">Layout</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hrule"></div>
	</div>
	<footer>
		<div class="wrapper footer-wrapper">
			<ul class="footer-text">
				<li class="footer-text__item"><span class="footer-text__item_fz_b">&copy;</span> Copyright 2017</li>
				<li class="footer-text__item footer-text__item-vline"></li>
				<li class="footer-text__item">All rights reserved</li>
				<li class="footer-text__item footer-text__item-vline"></li>
				<li class="footer-text__item">Template Designed By <span class="footer-text__item_extrabold">Sourabh Barua</span></li>
			</ul>
		</div>
	</footer>
	<ul class="nav-list nav-list-mobile">
		<li><button type="button" class="nav-list-mobile__btn-close"></button></li>
		<li><a href="" class="nav-list__item">home</a></li>
		<li><a href="" class="nav-list__item">services</a></li>
		<li><a href="" class="nav-list__item">portfolio</a></li>
		<li><a href="" class="nav-list__item">blog</a></li>
		<li><a href="" class="nav-list__item">contact us</a></li>
		<li><a href="" class="nav-list__item nav-list__btn">Login</a></li>
	</ul>
	//= includes/scripts.html
</body>
</html>