@font-face {
    font-family: 'Museo_Slab';
    src: url('../fonts/Museo_Slab_500.otf') format('opentype'),
         url('../fonts/Museo_Slab_500.woff2') format('woff2'),
         url('../fonts/Museo_Slab_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}